/* application_style */


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div form p {
  display: inline;
  margin: -10px;
  padding: 0px;
}

.title_name {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;

  font-family: 'Montserrat Subrayada', sans-serif;

  /*font-family: 'Ruda', sans-serif; possible alt font */
  font-size: 55px;
  margin-left: 10px;
  float: left;
}

.small_title_name {
  display: none;
}

.current_location {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  float: right;
  padding: 0px;
  margin-right: 20px;
  margin-top: 7px;
}

.entryinterface {
  background-color: #464c5f;
  align-items: center;
  margin-bottom: -5px;
  margin-top: 100px;
}

.title {
  color: #222632;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.sidebar {
  position: fixed;
  display: inline-block;
  background-color:  #222632;
  width: 32%;
  height: 100%;
}


#map {
  height: 100%;
  width: 68%;
  float: right;
}



.entry {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
}


.location {
  width: 100%;
  margin-left: -15px;
  padding-top: -15px;
  height: 40px;
  border-style: none;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  background-image: url("../images/magnifying_glass.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: -10px;
}

.distanceInput {
  display: inline;
  width: 65px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: right;
  margin-left: 15px;
  margin-right: 10px;
}

.waypointsSubtitle {
  display: block;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 7px;
  margin-bottom: 10px;
}



* {
  box-sizing: border-box;
}

.responsive {
  padding: 0px;
  float: left;
  width: 33.32%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}








.distanceUnits {
  display: inline;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
}



.rangeslider {
  display: inline;
  width: 10%;
  }

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  outline: none;
  opacity: 0.8;
}



.slider:hover {
  opacity: 1;
}


h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 570px;
  width: 100%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

ul::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

li {
  display: block;
  background-color: #f1f1f1;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

li a {
  text-decoration: none;
  display: block;
  padding: 10px 0px 10px 20px;
  border: 1px solid #ccc;

}

#more {
  width: 100%;
  margin: 5px 0 0 0;
}

.selected_waypoint {
  border: 2px solid;
  padding: 0px 0px 0px 17px;
  background-color: #cce6ff;
}

.deselected_waypoint {
  text-decoration: none;
  display: block;
  padding: 2px;
}

li:hover {
  background-color: white;
}




.submit {
  display: inline-block;
  border-radius: 4px;
  border-color: #000090;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 560px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right:-1px;
  float: right;
  margin-top: 1px;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 25px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 1788px) {

  .location {
    background-image: url("");
  }

  .selected_waypoint {
    font-size: 20px;
  }

  .deselected_waypoint {
    font-size: 20px;
  }

}


@media only screen and (max-width: 1400px) {
  .title_name {
    font-size: 50px;
    margin-top: -20px;
    margin-left: 5px;
  }



  .slider {
    width: 40%;
  }

  .location {
    font-size: 25px;
    margin-top: -20px;
  }

  .entryinterface {
    margin-top: 80px;
  }

  .selected_waypoint {
    font-size: 15px;
  }

  .deselected_waypoint {
    font-size: 15px;
  }



}

@media only screen and (max-width: 1100px) {

  .title_name {
    font-size: 35px;
  }


  .entryinterface {
    margin-top: 60px;
  }


  li a {
    padding-bottom: 5px;
  }

  .selected_waypoint {
    font-size: 12px;
    padding-left: 5px;
  }

  .deselected_waypoint {
    font-size: 12px;
  }

  #entry{
    margin-bottom: -15px;
  }

  .waypointsSubtitle {
    font-size: 20px;
  }

  .submit {
    font-size: 25px;
  }


}

@media only screen and (max-width: 1100px) {
  .selected_waypoint {
    font-size: 11px;

  }

  .deselected_waypoint {
    font-size: 11px;
  }

  .distanceInput {
    width: 50px;
  }
}


@media only screen and (max-width: 800px) {


  html, body {
    overflow-x: hidden;
  }

  .sidebar {
    display: block;
    position: absolute;
    background-color:  #222632;
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    min-height: 240px;
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .waypointsSubtitle {
    display: none;
  }

  .title_name {
    display: none;
  }

  .small_title_name {
    display: inline;
    text-decoration: none;
    color: #ffffff;

    font-family: 'Montserrat Subrayada', sans-serif;

    /*font-family: 'Ruda', sans-serif; possible alt font */
    font-size: 40px;
    margin-left: 5px;
    margin-top: -40px;
    float: left;
  }

  .entryinterface {
    margin-top: -7px;
  }

  #homeloc {
    margin-left: 0px;
    position: relative;
  }

  .entry {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

  #map {
    height: 60%;
    width: 100%;
  }

  .submit {
    display: inline-block;
    border-radius: 4px;
    border-color: #000090;
    background-color: #008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 450px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-right:-1px;
    float: right;
    margin-top: -30px;
    font-family: 'Raleway', sans-serif;
    text-align: right;
  }



  .submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .submit:hover span {
    padding-right: 25px;
  }

  .submit:hover span:after {
    opacity: 1;
    right: 0;
  }

  ul {
    height: 43%;
    margin-top: -20px;;
  }
}

@media only screen and (max-width: 720px) {
  .small_title_name {
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .submit {
    width: 55%;
  }
}

@media only screen and (max-width: 420px) {

  .distanceInput {
    margin-bottom: -20px;
    margin-top: -5px;
  }

  .small_title_name {
    font-size: 20px;
  }

  .submit {
    width: 56%;
    font-size: 20px;
    margin-top: -20px;
  }

  ul {
    margin-top: -15px;
  }

}

@media only screen and (max-width: 320px) {
  .sidebar {
    height: 50%
  }

  #map {
    height: 50%;
  }
}



