/* application_style */

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  background-color:  #feffeb;
}

body {
  overflow-x: hidden;
  margin: 0px !important;
}

div form p {
  display: inline;
  margin: -10px;
  padding: 0px;
}

.title {
  display: block;
  text-decoration: none;
  color: #ffffff;

  font-family: 'Montserrat Subrayada', sans-serif;

  /*font-family: 'Ruda', sans-serif; possible alt font */
  font-size: 55px;
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  display: inline-block;
  background-color:  #222632;
  width: 35%;
  min-width: 550px;
  height: 100%;
}

.entryinterface {
  background-color: #464c5f;
  align-items: center;
  margin-bottom: -5px;
}



.entry {
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
}


.location {
  width: 100%;
  margin-left: -15px;
  padding-top: -15px;
  height: 40px;
  border-style: none;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  background-image: url("../images/magnifying_glass.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: -10px;
}

.distanceInput {
  display: inline;
  width: 65px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: right;
  margin-left: 15px;
  margin-right: 10px;
}

.waypointsSubtitle {
  display: block;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 7px;
  margin-bottom: 10px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: #939bb5;
  color: black;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0px;
  float: left;
  width: 33.32%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}






.distanceInput:focus {
  background-image: url("../images/selected_magnifying_glass.png");
}

.distanceUnits {
  display: inline;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
}



.rangeslider {
  display: inline;
  width: 10%;
  }

.slider {
  -webkit-appearance: none;
  width: 72%;
  height: 5px;
  outline: none;
  opacity: 0.8;
}



.slider:hover {
  opacity: 1;
}


#map {
  height: 938px;
  width: 65%;
  float: right;
}




