/* ------------------------------- GLOBAL ------------------------------- */

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  background-color:  #feffeb;
}

body {
  overflow-x: hidden;
  margin: 0px !important;
}


.header {
  display: block;
  position: relative;
  background-color:  #222632;
  left: -8px;
  top: -21px;
  width: 104%;
}


.mobile_header {
  display: block;
  position: relative;
  background-color: #464c5f;
  left: -8px;
  top: -21px;
  width: 110%;
  height: 32px;
  opacity: 0;
  z-index: 0;
}

nav a {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 17px;

}

div h1, nav, li {
  display: inline-block;
  margin-bottom: 10px;
}

div nav {
  position: relative;
  float: right;
  margin-right: 100px;
  margin-top: 29px;
  z-index: 1;
}

.title {
  text-decoration: none;
  color: #ffffff;

  font-family: 'Montserrat Subrayada', sans-serif;

  /*font-family: 'Ruda', sans-serif; possible alt font */
  font-size: 55px;
  margin-left: 100px;
  margin-right: 25px;
}

.small_title {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat Subrayada', sans-serif;
  /*font-family: 'Ruda', sans-serif; possible alt font */
  font-size: 45px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: -10px;
  display: none;
}

.content {
  display: block;
  position: relative;
  background-color: #feffeb;
  left: -8px;
  top: -54px;
  margin-bottom: 345px;
  width: 102.5%;
  height:1000px;
  border-style: none;
}

.sidebar {
  float: right;
  margin-right: 90px;
  width: 720px;
}

.sidebar > img {
  width: 600px;
  height: auto;
  margin-left: 65px;
  margin-top: 35px;
}


.footer {
  display: block;
  position: absolute;
  background-color: #131638;
  left: 0px;
  bottom: 0px;
  width: 103%;
}


.social_media {
  float: right;
  margin-top: 105px;
  margin-bottom: 185px;
  margin-right: 690px;
}


.fa {
  padding: 0px;
  font-size: 60px;
  width: 125px;
  text-align: center;
  text-decoration: none;
  margin: 25px 22px;
}

.fa:hover {
  color: #4cf573;
}

.fa-github {
  color: #32387a;
}

.fa-twitter {
  color: #32387a;
}

.fa-linkedin {
  color: #32387a;
}


.fa-instagram {
  color: #32387a;
}

.fa-rss {
  color: #32387a;
}


/* ------------------------------ HOMEPAGE ------------------------------ */

.homepage {
  display: inline-block;
}

.homepage > img {
  height: 1210px;
  width: auto;
  margin-top: -95px;
  margin-left: -275px;
  display: inline-block;
  margin-right: -200px;
}

.homepage_header {
  margin-top: 170px;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  color: #222632;
  margin-left: 15px;
}

.homepage_text {
  margin-top: 15px;
}

.run_button {
  border-radius: 4px;
  border-color: #000090;
  background-color: #008CBA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 560px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 85px;
  font-family: 'Raleway', sans-serif;
  float: left;
}

.run_button > a {
  text-decoration: none;
  color: white;
  padding: 15px 195px 15px 195px;
  margin: 0px;
}



/* ------------------------------- ABOUT  ------------------------------- */

.about_content {
  display: block;
  position: relative;
  background-color: #feffeb;
  left: -8px;
  top: -54px;
  margin-bottom: 268px;
  width: 102.5%;
  height:1000px;
  border-style: none;
}

.about_page > img {
  display: inline;
  height: 700px;
  width: auto;
  display: inline-block;
  float: right;
  margin-right: -15px;
  margin-top: 0px;
}

.about_page > p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  width: 1000px;
  margin-left: 260px;
}

#about_directions {
  width: 600px;
  height: auto;
  float: left;
  margin-left: 350px;
  margin-top: 70px;
}

#about_header {
  margin-left: 260px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 58px;
}


/* ------------------------------ CONTACT ------------------------------- */

.contact_content {
  display: block;
  position: relative;
  background-color: #feffeb;
  left: -8px;
  top: -54px;
  margin-bottom: 268px;
  width: 102.5%;
  height: 800px;
  border-style: none;
}

.contact_content > p {
  font-size: 40px;
  width: 750px;
  font-family: 'Raleway', sans-serif;
  margin-left: 260px
}

.contact_content a:hover {
  color: blue;
}

.contact_content a {
  text-decoration: none;
  color: black;
  outline-color: #000090;
}



.contact_image {
  display: inline;
  width: 1400px;
  height: auto;
  float: right;
  margin-bottom: 0px;
  margin-top: -580px;
  margin-right: -300px;
}

/* ---------------------------------------------------------------------- */



/* MEDIA QUERIES */

/*@media only screen and (max-width: 1120px) {*/


/*  .mobile_header {*/
/*    opacity: 1;*/
/*  }*/

/*  .content {*/
/*    left: -8px;*/
/*    top: -21px;*/
/*    margin-bottom: 279px;*/
/*    width: 102.5%;*/
/*    height: 800px;*/
/*    border-style: none;*/
/*  }*/

/*  .footer {*/
/*    height: 300px;*/
/*  }*/

/*  .title {*/
/*    font-size: 25px;*/
/*    margin-left: 10px;*/
/*    margin-right: 4000px;*/
/*  }*/

/*  nav a {*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*    padding-bottom: 0px;*/
/*    padding: 0px;*/
/*    padding-top: 0px;*/
/*    padding-bottom: 0px;*/
/*  }*/

/*  div nav {*/
/*    float: left;*/
/*    margin-top: -15px;*/
/*    margin-left: -40px;*/
/*    margin-right: 0px;*/
/*  }*/
/*}*/

@media only screen and (max-width: 3000px) {
  /* ------------------------------- GLOBAL ------------------------------- */

  .homepage > img {
    height: 900px;
    margin-top: -17px;
  }

  .homepage_header {
    margin-top: 70px;
  }

  .homepage_text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #222632;
    margin-left: 50px;
    margin-top: 5px;
    width: 600px;
  }

  .content {
    height:800px;
  }



  /*.sidebar {*/
  /*  margin-right: 100px;*/
  /*}*/

  /*.sidebar img {*/
  /*  width: 800px;*/
  /*  margin-left: -100px;*/
  /*}*/

  /*.sidebar p {*/
  /*  margin-bottom: -2px;*/
  /*  margin-left: -105px;*/
  /*}*/

  /*.run_button {*/
  /*  margin-left: -100px;*/
  /*  margin-top: 25px;*/
  /*}*/

  /* ------------------------------ HOMEPAGE ------------------------------ */

  /* ------------------------------ CONTACT ------------------------------- */

}

@media only screen and (max-width: 1900px) {
  /* ------------------------------- ABOUT  ------------------------------- */
  .about_page > img {
    height: 500px;
    margin-top: 200px;
  }

  #about_header {
    margin-left: 230px;
  }

  .about_page > p {

    margin-left: 230px;
  }

  #about_directions {
    margin-left: 235px;
    margin-top: 50px;
  }

}


@media only screen and (max-width: 1560px) {
  /* ------------------------------- GLOBAL ------------------------------- */
  .content {
    height: 700px;
  }
  .title {
    margin-left: 40px;
  }




  .homepage > img {
    height: 800px;
    margin-top: -25px;
  }

  .homepage_header {
    margin-top: 60px;
    float: left;
    margin-left: -90px;
  }

  .homepage_text {
    float: right;
    margin-right: 125px;
    margin-top: -29px;
    width: 480px;
  }

  .sidebar {
    float: right;
    margin-right: 0px;
    width: 520px;
    margin-top: 0px;
  }

  .sidebar > img {
    width: 400px;
    height: auto;
    float: right;
    margin-right: 125px;
    margin-top: 10px;
  }

  .run_button {
    border-radius: 4px;
    border-color: #000090;
    background-color: #008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    float: right;
    margin-right: 125px;
  }

  .run_button > a {
    text-decoration: none;
    color: white;
    padding: 15px 63px 15px 63px;
    margin: 0px;
  }

  .social_media {
    margin-right: 120px;
  }
  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */


  .about_page > img {
    display: block;
    height: 500px;
    margin-top: -100px;
    z-index: -10;
  }

  #about_header {
    margin-left: 110px;
    margin-bottom: -5px;
    margin-top: 30px;
  }



  .about_content {
    display: block;
    position: relative;
    background-color: #feffeb;
    left: -8px;
    top: -54px;
    margin-bottom: 268px;
    width: 102.5%;
    height: 700px;
    border-style: none;
  }

  .about_page > p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 600px;
    margin-left: 110px;

  }

  #about_directions {
    width: 450px;
    height: auto;
    float: left;
    margin-left: 140px;
    margin-top: 5px;
    display: block;
    z-index: 100;
  }


  /* ------------------------------ CONTACT ------------------------------- */
  
  .contact_content p {
    margin-left: 20px;
  }
  
  .contact_content a {
    color: lightskyblue;
  }

  .contact_content {
    margin-top: -25px;
  }

  
  



}

@media only screen and (max-width: 1260px) {
  /* ------------------------------- GLOBAL ------------------------------- */

  .content {
    display: block;
    position: relative;
    background-color: #feffeb;
    left: -8px;
    top: -54px;
    margin-bottom: 345px;
    width: 102.5%;
    height: 700px;
    border-style: none;
  }



  .homepage > img {
    height: 500px;
    width: auto;
    margin-top: 246px;
    margin-left: -90px;
    display: inline-block;
    margin-right: -200px;
  }

  .homepage_header {
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: #222632;
    float: left;
    margin-left: -90px;
  }

  .homepage_text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #222632;
    float: right;
    margin-right: 125px;
    margin-top: -29px;
    width: 480px;
  }

  .sidebar {
    float: right;
    margin-right: 0px;
    width: 520px;
    margin-top: 0px;
  }

  .sidebar > img {
    width: 300px;
    height: auto;
    float: right;
    margin-right: 125px;
    margin-top: 100px;
  }

  .run_button {
    border-radius: 4px;
    border-color: #000090;
    background-color: #008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 260px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    float: right;
    margin-right: 125px;
  }

  .run_button > a {
    text-decoration: none;
    color: white;
    padding: 15px 63px 15px 63px;
    margin: 0px;
  }

  .social_media {
    margin-right: 120px;
  }
  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */

  .about_page > img {
    display: block;
    height: 500px;
    margin-top: -100px;
    z-index: -10;
  }

  #about_header {
    margin-left: 70px;
    margin-bottom: -5px;
    margin-top: 30px;
  }



  .about_content {
    display: block;
    position: relative;
    background-color: #feffeb;
    left: -8px;
    top: -54px;
    margin-bottom: 268px;
    width: 102.5%;
    height: 700px;
    border-style: none;
  }

  .about_page > p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 600px;
    margin-left: 70px;

  }

  #about_directions {
    width: 325px;
    height: auto;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    display: block;
    z-index: 100;
  }

  /* ------------------------------ CONTACT ------------------------------- */

  .contact_image {
    display: none;
  }

}

@media only screen and (max-width: 1120px) {

  /* ------------------------------- GLOBAL ------------------------------- */
  .title {
    font-size: 45px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 25px;
  }



  nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 17px;

  }
  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */
  /* ------------------------------ CONTACT ------------------------------- */
}

@media only screen and (max-width: 1120px) {
  #about_directions {
    display: none;
  }
}

@media only screen and (max-width: 965px) {
  /* ------------------------------ GLOBAL ------------------------------ */

  .title {
    margin-left: 20px;
  }



  nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 17px;

  }
  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */

  /* ------------------------------ CONTACT ------------------------------- */
}

@media only screen and (max-width: 965px) {

  /* ------------------------------- GLOBAL ------------------------------- */
  .sidebar img {
    display: none;
  }
  .run_button {
    margin-top: 0px;
    float: right;
    margin-right: 30px;
  }

  .homepage_header {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #222632;
    float: left;
    margin-left: 150px;
  }

  .homepage_text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #222632;
    float: right;
    margin-right: -35px;
    margin-top: -29px;
    width: 400px;
    justify-content: right;
  }

  .homepage > img {
    margin-top: 146px;
  }
  .content {
    height: 600px;
  }

  .title {
    margin-left: 20px;
  }

  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */
  /* ------------------------------ CONTACT ------------------------------- */
  
  .contact_image {
    display: none;
  }


}

@media only screen and (max-width: 880px) {
  /* ------------------------------- GLOBAL ------------------------------- */
  .homepage img {
    display: none;
  }

  .sidebar img {
    width: 100%;
    display: inline-block;
    margin-right: 170px;
    margin-top: 10px;
  }

  .run_button {
    margin-top: 0px;
    float: right;
    margin-right: 290px;
    margin-top: 50px;
  }

  .homepage_header {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #222632;
    float: left;
    margin-left: -70px;
  }

  .homepage_text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #222632;
    float: right;
    margin-right: 185px;
    margin-top: -29px;
    width: 400px;
    justify-content: right;
  }

  .content {
    height: 600px;
  }

  nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    text-decoration: none;
    color: #ffffff;
    padding: 2px;
    padding-top: 30px;
    padding-bottom: 17px;
  }

  .title {
    margin-right: -10px;
    margin-left: 20px;
  }


  .social_media {
    float: right;
    margin-top: 105px;
    margin-bottom: 185px;
    margin-right: 0px;
  }


  .fa {
    padding: 0px;
    font-size: 50px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    margin: 25px 22px;
  }

  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */

  .about_content p {
    font-size: 30px;
  }

  #about_image {
    display: none;
  }



  /* ------------------------------ CONTACT ------------------------------- */

}


@media only screen and (max-width: 760px) {
  .contact_content p {
    font-size: 25px;
    width: 80%;
  }

  .contact_content {
    height: 400px;
  }
}
@media only screen and (max-width: 720px) {

  /* ------------------------------- GLOBAL ------------------------------- */

  .sidebar img {
    display: none;
  }

  .run_button {
    float: right;
    margin-right: 230px;
    margin-top: 50px;
  }

  .homepage_header {
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    float: left;
    margin-left: -20px;
  }

  .homepage_text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    float: right;
    margin-right: 125px;
    margin-top: -29px;
    width: 400px;
    justify-content: right;
  }

  .content {
    height: 700px;
    margin-bottom: -20px;
  }

  nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 2px;
    margin-top: 0px;
    padding-bottom: 17px;
  }

  nav ul {
    margin-right: -70px;
  }

  .sidebar {
    float: right;
  }

  .title {
    display: none;
  }
  .small_title {
    display: block;
  }

  .fa {
    padding: 0px;
    font-size: 50px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */

  #about_header {
    margin-left: 20px;
  }

  .about_page > p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 500px;
    margin-left: 20px;
  }
  .about_content {
    height: 400px;
    margin-top: -30px;
  }


  .about_page img {
    display: none;
  }
  /* ------------------------------ CONTACT ------------------------------- */
  .contact_content {
    height: 400px;
    margin-top: -30px;
  }



}

@media only screen and (max-width: 580px) {

  /* ------------------------------- GLOBAL ------------------------------- */
  .run_button {
    margin-top: 0px;
    float: right;
    margin-right: 65px;
    margin-top: 20px;
  }


  .homepage_header {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    float: left;
    margin-left: 150px;
  }

  .homepage_text {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    width: 300px;
    margin-right: 20px;
  }

  .content {
    height: 700px;
  }

  nav a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding: 2px;
    margin-top: 0px;
    padding-bottom: 17px;
  }

  .sidebar {
    float: right;
  }
  .title {
    margin-right: -10px;
  }

  .fa {
    padding: 0px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 25px 2px;
  }

  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */
  /* ------------------------------ CONTACT ------------------------------- */




}

@media only screen and (max-width: 560px) {

  /* ------------------------------- GLOBAL ------------------------------- */

  .homepage_header {
    font-size: 30px;
    padding-left: 75px;
  }

  .homepage_text {
    float: left;
  padding-left: 175px;
  }

  .run_button {
    margin-top: 0px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
  }

  .fa {
    padding: 0px;
    font-size: 50px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 15px 2px;
  }

  .content {
    height: 600px;

  }
  /* ------------------------------ HOMEPAGE ------------------------------ */
  /* ------------------------------- ABOUT  ------------------------------- */
  .about_page p {
    font-size: 15px;
    width: 260px;
  }

  .about_content {
    height: 400px;
  }

  #about_directions {
    margin-left: 40px;
    margin-top: 10px;
  }
  /* ------------------------------ CONTACT ------------------------------- */
  .contact_content {
    height: 400px;
  }

}

@media only screen and (max-width: 400px) {
  .fa {
    font-size: 40px;
    width: 30px;
    margin-right: 20px;
  }

  .about_content {
    height: 400px;
  }

  .contact_content {
    height: 400px;
  }

  .contact_content p {
    font-size: 20px;
  }
}





